@use 'variables';

// Reveal on scroll
// -------------------------------------------------------------------
.is-revealing { visibility: hidden; }

@keyframes pulse {
    0% {
        color: variables.$black;
    }
    87% {
        color: variables.$zomp;
    }
    100% {
        color: variables.$white;
    }
}