@use "variables";

// Aspect Ratio
// -------------------------------------------------------------------
.square { @include variables.aspect-ratio(1, 1); }

.rectangle { @include variables.aspect-ratio(33, 16); }


// Other
// -------------------------------------------------------------------
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border--primary-color { border: 5px solid variables.$primary-color; }
.border--tan { border: 5px solid variables.$tan; }
