// Colors
// -------------------------------------------------------------------
// Grayscale
@use "sass:math";

$gray-base:               #858a91 !default;

$black:                   #000 !default;
$darkest-gray:            #26282a !default;
$dark-gray:               #858a91bc !default;
$gray:                    $gray-base !default;
$light-gray:              #9ea5afe6 !default;
$lightest-gray:           #b6bec8 !default;
$white:                   #ededed !default;


/* SCSS HEX */
$fiax-yellow: #e9d886ff;
$space-cadet: #222e50ff;
$cerulean: #007991ff;
$zomp: #439a86ff;
$celadon: #bcd8c1ff;
$pink--lavender: #e6d7e5ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-right: linear-gradient(90deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-bottom: linear-gradient(180deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-left: linear-gradient(270deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-top-right: linear-gradient(45deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-bottom-right: linear-gradient(135deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-top-left: linear-gradient(225deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-bottom-left: linear-gradient(315deg, #e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);
$gradient-radial: radial-gradient(#e3cd6469, #222e5069, #00799169, #439a8669, #bcd8c169);

// Hues
$blue:                    $space-cadet !default;
$yellow:                  $fiax-yellow !default;
$orange:                  $zomp !default;
$tan:                     $celadon !default;

// Color scheme
// $bg-color:                linear-gradient(69deg, rgba(199,184,31,0.16) 14%, rgba(119,9,121,0.16) 45%, rgba(0,212,255,0.16) 78%);
$bg-color:                $gradient-bottom;
$primary-color:           $yellow !default;
$secondary-color:         $blue !default;
$tertiary-color:          $zomp !default;


// Baseline
// -------------------------------------------------------------------
$baseline:                .4rem !default;


// Typography
// -------------------------------------------------------------------
// Font families
$heading:                 "Roboto Condensed", Avenir, "Avenir Next",
                          Trebuchet, Verdana, sans-serif !default;
$sans-serif:              "Open Sans", Georgia, Times, serif !default;
$monospace:               Monaco, Menlo, Consolas, monospace !default;

$font-family--base:       $sans-serif !default;
$font-family--heading:    $heading !default;
$font-family--reading:    $sans-serif !default;
$font-family--ui:         $sans-serif !default;
$font-family--code:       $monospace !default;

// Type scale
// Good tool: http://type-scale.com/
$h1:                      2.5rem !default;
$h2:                      1.9rem !default;
$h3:                      1.4rem !default;
$h4:                      1rem !default;
$h5:                      .677rem !default;
$h6:                      .677rem !default;

// Finer control over type scale after certain breakpoint (off by default)
$responsive-type:         true !default;
$h1--desktop:             3.375rem !default;
$h2--desktop:             2.25rem !default;
$h3--desktop:             1.5rem !default;
$h4--desktop:             1rem !default;
$h5--desktop:             .677rem !default;
$h6--desktop:             .677rem !default;

// Text color
$text-color:              $darkest-gray !default;

// Text sizes
$font-size--mobile:       14px !default;
$font-size--desktop:      17px !default;
$font-size--lg:           $h3 !default;
$font-size--sm:           $h5 !default;

// Weights
$font-weight--base:       400 !default;
$font-weight--heading:    700 !default;

// Line heights
$line-height--base:       $baseline*4 !default;
$line-height--heading:    1 !default;


// Layout
// -------------------------------------------------------------------
// Breakpoints
// Mobile Safari has problems with rems being used in media queries
$breakpoint--sm:          600px !default;
$breakpoint--md:          680px !default;
$breakpoint--lg:          950px !default;
$breakpoint--hg:          1050px !default;

// Max container width
$max-container-width:     1200px !default;


// Spaces
// -------------------------------------------------------------------
$space-1:                 $baseline*2 !default;
$space-2:                 $baseline*5 !default;
$space-3:                 $baseline*8 !default;
$space-4:                 $baseline*11 !default;

// Specific margins
$p-mb:                    $space-1 !default;
$heading-mb:              $p-mb !default;


// Links
// -------------------------------------------------------------------
// Link colors
$link-color:              $blue;
$link-hover-color:        scale($blue, -25%);
$active-link-color:       scale($blue, -33%);


// Buttons
// -------------------------------------------------------------------
$button-padding:          .45rem 1rem .35rem !default;
$button-padding--sm:      .1rem .6rem 0 !default;


// Forms
// -------------------------------------------------------------------
$form-padding:            .45rem .8rem .35rem !default;


// Borders
// -------------------------------------------------------------------
$border-color:            $zomp !default;
$border-style:            solid !default;
$border-radius:           6px !default;
$border-width:            1px !default;


// Animations
// -------------------------------------------------------------------
$fade:                    .2s ease-out !default;


// Asepct Ratio
// -------------------------------------------------------------------
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: math.div($height, $width) * 100%;
    }
    > .aspect-ratio__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
