<!DOCTYPE html>
<html lang="nl-be">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Evassages door Eva</title>
    <meta name="description" content="" />

    <!-- Web fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Condensed:700"
      rel="stylesheet"
    />

    <!-- favicon.ico. Place these in the root directory. -->
    <link rel="shortcut icon" href="icons8-massage-table-96.png" />
    <link rel="shortcut icon" href="icons8-massage-table-48.png" />
  </head>

  <body class="has-animations">
